* {
    background: #202020;
    color: white;
    selection-background-color: rgb(80, 80, 80);
}

#label_outputArea {
    border: 3px solid #404040;
    background-color: #504945;
}

QLineEdit {
border: 3px solid #404040;
}

QPushButton {
    background-color: #505050;
}

