* {
    background: #282828;
    color: #ebdbb2;
    selection-background-color: rgb(147, 153, 178);
}

#label_outputArea {
    border: 3px solid #a89984;
    background-color: #504945;
}

QLineEdit {
border: 3px solid #a89984;
}

QPushButton {
    background-color: #504945;
}

#pushButton_encrypt:disabled {
color: rgb(17, 17, 27);
}

#pushButton_decrypt:disabled {
color: rgb(17, 17, 27);
}
